version: "3"
#aa
services:

  #######################################
  # Postgres: The database used by Kong
  #######################################
  kong-database:
    image: postgres:9.6
    restart: always
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "15433:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "kong"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - pg_data:/var/lib/postgresql/data

  #######################################
  # Kong database migration
  #######################################
  kong-migration:
    image: kong:2.8.0
    command: "kong migrations bootstrap"
    restart: on-failure
    environment:
      KONG_PG_HOST: kong-database
    links:
      - kong-database
    depends_on:
      - kong-database

  #######################################
  # Kong: The API Gateway
  #######################################
  kong:
    image: kong:2.8.0
    restart: always
    environment:
      KONG_PG_HOST: kong-database
      KONG_PROXY_LISTEN: 0.0.0.0:15000, 0.0.0.0:15443 ssl
      KONG_PROXY_LISTEN_SSL: 0.0.0.0:15001, 0.0.0.0:15444 ssl
      KONG_ADMIN_LISTEN: 0.0.0.0:15001
      # ssl config
      KONG_SSL_CERT: /kong/server.crt
      KONG_SSL_CERT_KEY: /kong/server.key
      KONG_ADMIN_SSL_CERT: /kong/server.crt
      KONG_ADMIN_SSL_CERT_KEY: /kong/server.key
      KONG_SSL: "on"
    depends_on:
      - kong-migration
      - kong-database
    healthcheck:
      test: ["CMD", "curl", "-f", "http://kong:15001"]
      interval: 5s
      timeout: 2s
      retries: 15
    ports:
      - "15001:8001"
      - "15000:8000"
      - "15443:8443"
      - "15444:8444"
    volumes:
      - ./kong:/kong

  #######################################
  # Konga database prepare
  #######################################
  konga-prepare:
    image: pantsel/konga:latest
    command: "-c prepare -a postgres -u postgresql://kong@kong-database:15432/konga_db"
    restart: on-failure
    links:
      - kong-database
    depends_on:
      - kong-database

  #######################################
  # Konga: Kong GUI
  #######################################
  konga:
    image: pantsel/konga:latest
    restart: always
    environment:
      DB_ADAPTER: postgres
      DB_HOST: kong-database
      DB_USER: kong
      TOKEN_SECRET: km1GUr4RkcQD7DewhJPNXrCuZwcKmqjb
      DB_DATABASE: konga_db
      NODE_ENV: production
    depends_on:
      - kong-database
    ports:
      - "15337:1337"
networks:
  default:
    external:
      name: internal

volumes:
  pg_data:
